PROJECT_NAME=sigeca_central
DOMAIN_NAME=<fqdn>

DB_USER=<dbuser>
DB_PASSWORD=<dbpassword>
DB_NAME=<dbname>

NIFI_VERSION=2.0.0-M2
NIFI_WEB_HTTPS_PORT=8443
NIFI_USER=<nifiuser>
#Must be at least 12 characters long, if not the nifi container will generate a random username and password
NIFI_PASSWORD=<nifipassword>
